<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Biologijos puslapis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="top"></div>

    <!-- Navigacija -->
    <nav>
        <h1>Biologijos konspektai</h1>
        <ul>
          <li><a href="#top">Home</a></li>
          <li><a href="#temos">Temos</a></li>
        </ul>
    </nav>

    <!-- Temos -->
    <div class="temos-container">
        {% for tema in temos %}
        <div class="tema-card">
            <img src="{{ url_for('static', filename=tema['paveikslelis']) }}" alt="{{ tema['pavadinimas'] }}">
            <h2>{{ tema['pavadinimas'] }}</h2>
            <p>
                <a href="{{ url_for('static', filename=tema['konspektas']) }}" target="_blank">📘 Konspektas</a>
                <br>
                <a href="{{ tema['testas'] }}" target="_blank">📝 Testas</a>
            </p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
